include CHANGELOG.rst
include LICENSE.md
include Makefile
include README.rst
include setup.cfg
graft examples/*
graft docs/*
include docs/make.bat
include docs/Makefile
recursive-exclude docs/build/*
include epicchain/py.typed
graft epicchain/*
graft tests/*
global-exclude *.py[cod]
